@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #03001c;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card Styles */

.card {
  max-width: 650px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 31px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 31px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 31px -15px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  overflow: hidden;
}

.card__section-left,
.card__section-right {
  padding: 20px;
}

.card__section-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #ff9b99;
  background-image: radial-gradient(
      at 85% 38%,
      hsla(165, 93%, 61%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 75% 39%, hsla(296, 87%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 93% 18%, hsla(16, 71%, 63%, 1) 0px, transparent 50%),
    radial-gradient(at 49% 27%, hsla(247, 60%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 93% 23%, hsla(152, 74%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 40% 24%, hsla(202, 78%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 15% 36%, hsla(202, 76%, 64%, 1) 0px, transparent 50%);
}

.card__section-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__legend {
  font-weight: 600;
}

.card__circle-result {
  width: 9.375em;
  height: 9.375em;
  margin: 2.5em 0 1.25em 0;
  background: linear-gradient(
    0deg,
    rgba(48, 30, 103, 0) 0%,
    rgb(165 175 212) 100%
  );
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__result {
  font-size: 3em;
}

.card__expected-result,
.card__description {
  font-size: 14px;
}

.card__description {
  text-align: center;
  margin-top: 0.625rem;
}

.card__tags {
  display: grid;
  gap: 0.625em;
  list-style: none;
  margin: 1.875em 0;
  padding: 0;
}

.card__item {
  background: #cccccc;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3125em;
}

.card__item-name {
  display: flex;
  align-items: center;
  gap: 0.625em;
}

.card__item-name span {
  font-size: 0.875em;
  font-weight: 600;
}

.card__item-result span {
  font-weight: 600;
  color: #03001c;
}

.card__item.red {
  background: rgba(255, 3, 3, 0.2);
}

.card__item.red .card__item-name {
  color: rgba(255, 3, 3, 0.6);
}

.card__item.yellow {
  background: rgba(249, 148, 23, 0.2);
}

.card__item.yellow .card__item-name {
  color: rgba(249, 148, 23, 0.6);
}

.card__item.green {
  background: rgba(60, 207, 78, 0.2);
}

.card__item.green .card__item-name {
  color: rgba(60, 207, 78, 0.6);
}

.card__item.blue {
  background: rgba(6, 0, 71, 0.2);
}

.card__item.blue .card__item-name {
  color: rgba(6, 0, 71, 0.6);
}

.card__button {
  font-size: 0.875em;
  font-weight: 600;
  padding: 0.75rem;
  border-radius: 1.25rem;
  border: none;
  outline: none;
  background: #03001c;
  color: #ffffff;
  cursor: pointer;
  transition: .2s all ease;
}

.card__button:hover {
  transform: translateY(-4px);
  -webkit-box-shadow: 0px 0px 31px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 31px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 31px -15px rgba(0, 0, 0, 0.75);
}